
RewriteEngine on
SetOutputFilter DEFLATE
AddOutputFilter DEFLATE text/css

# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg|woff)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

#RewriteRule ^.*$ buone-nuove

RewriteRule ^digital-download(/)?$ digital-download.html [L]
