html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: 100;
}
h1{
	font-size: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;		
}

.modal a {
  transition: color 0.4s;
  color: #E75757;
}
.modal a:link,
.modal a:visited { color: #CE3232; }
.modal a:hover   { color: #CE3232; }
.modal a:active  {
  color: #CE3232;
}

.navbar {
	height: 50px;
	font-weight: 300;
	text-transform: uppercase;
	border:none;
}
.nav>li>a {
  padding: 15px 9px;
}

.social-button-container {
	position: absolute;
	overflow: hidden;
  bottom: 2px;
  right: 5px;
  list-style: none;
  margin: 0;
}
.social-button-container li {
	float: right;
}

blockquote {
	padding: 0px 20px;
  border-color: #e75757;
}
blockquote footer:before {
	content: '';
}

.section {
	min-height: 100%;
  width: 100%;
  position: relative;
  padding: 30px 0;
}

.column {
	float: none;
	color: #fff;
  background-color: rgba(231,87,87,0.9);
  margin: 0 30px;
  padding: 30px;
}
.column h1 {
	margin: 0 0 15px 0;
}

/* Section: LOADING */
.section-loading {
	position: fixed;
	width: 100%;
	height:100%;
	background-color: #222222;
	z-index: 9999;
	color:#fff;
}

/* Section: LOU TAPAGE */
#loutapage {
	background-color: #e75757;
	background:url("../img/bkg-lou-tapage.jpg") no-repeat center center;	
  background-size: cover;
  height: 100%;
}
#loutapage a{
	cursor: pointer;
}
#loutapage h1, #loutapage h4 {
	color:#e75757;
}
#loutapage .thumbnail {
	margin-top: 30px;
	border:none;
	padding:0;
	box-shadow: 0px 0px 25px #400;
}
#loutapage .logo {
	width: 100%;
	height: 41%;
	text-align: center;
}

#loutapage .logo img{
	width: 250px;
	max-width: 90%;
	margin-top: 35px;
}

#nextLive {
	text-shadow: 0 1px 1px #d1d8db, 0 -1px 1px #d1d8db, -1px 0 1px #d1d8db, 1px 0 1px #d1d8db;
	margin: 0;
	text-decoration: none;
}
#loutapage .logo a:hover {
	text-decoration: none;
}

#nextLive span {	
	font-size: 18px;
	margin-bottom: 6px;
	display: inline-block;
}

.logo-white {
	width: 40px;
  height: 40px;
  background: url(../img/logo-lou-tapage-white.svg) no-repeat center center;
  background-size: contain;
  opacity: 0.7;
  margin: 5px 0 5px -10px;
}


/* Screen-xs */
@media screen and (max-width: 1025px) {
	#loutapage .logo img{
		margin-top: 0;
		width: 260px;
	}
}

/* Section: FINISTERRE */
#finisterre a {
  transition: color 0.4s;
  color: #E75757;
}
#finisterre a:link,
#finisterre a:visited { color: #D24F4F; }
#finisterre a:hover   { color: #D24F4F; }
#finisterre a:active  {
  color: #D24F4F;
}

#finisterre {
	background-color: #C5C5C5;
	background: url("../img/bkg-finisterre.jpg") no-repeat center center;
	background-size: cover;
	font-weight: 300;
}
#finisterre h1 {
	color: #e75757;
}
#finisterre p {
	text-transform: none;
}

.finisterre-cover {
	width: 100%;
	border: 5px solid #eee;
}

/* Section: BUONE NUOVE */

#buonenuove {
	padding: 0;
	cursor: pointer;

	background: #000 url(../img/buonenuove.jpg) no-repeat center center;
	background-size: cover;
}



.buonenuove__img {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: no-repeat center center;
	background-size: cover;	
}

.buonenuove__img.glitch {
	animation: glitch 2s step-start both;
}

.buonenuove__img.glitch.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

#buonenuove .container {
	width:100%; position: absolute; bottom: 30px;
}
.buonenuove__spotify {
	margin: 0 auto;
	display: block;
}

@keyframes glitch {
    0% { opacity: 0; }
    5% { opacity: 1; }
		8% { opacity: 0; }
		15% { opacity: 1; }
		49% { opacity: 1; }
		52% { opacity: 0; }
		60% { opacity: 1; }
		95% { opacity: 1; }
    100% { opacity: 0; }
}

#buonenuove .play-icon {
    background-image: url(../img/play-icon.svg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    cursor: pointer;
}

/* Section: CROWDFUNDING */

#crowdfunding .bkg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000 url(../img/bkg-crowdfunding.jpg) no-repeat center center;
	background-size: cover;
}

#crowdfunding .column {
	z-index: 999;
}

#crowdfunding .play{
	background-image: url(../img/play-icon.png);
	width: 70%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	#crowdfunding .bkg {
    position: relative;
		padding-bottom: 50%;
	}

	#crowdfunding .play{
		width: 100%;
	}

	#crowdfunding {
		padding: 0;
		min-height: initial;
	}
}


/* Section: CONCERTI */
#concerti {
	color:#fff;
	background-color: #cdcdcd;
}
#concerti ul {
	padding: 0;
	list-style: none;
}
#concerti .concerti-container li {
	border: 0;
  background-color: transparent;
  margin-bottom: 1px;
  font-weight: 300;
  padding: 2px 0;
  font-size: 16px;
}

#concerti .concerti-container li .city.is-canceled {
	text-decoration: line-through;
}
#concerti .concerti-container li .city.is-canceled span {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
}
#concerti .date {
	position: absolute;
}
#concerti .city {
	color: #000;
  margin: 0 10px 0 55px;
}
#concerti #map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	color: #000;
  text-align: center;

	height: 100%;
	width: 100%;
}
#concerti #map h4 {
	font-weight: bold;
}
#concerti #map .maps-content {
	font-size: 16px;
}

#concerti .year-container {
  display: inline-block;
  width: 100%;
  margin: 0px 0 5px 0px;
}

#concerti .load-concert {
	padding: 2px 5px 0px 5px;
	margin: 0 5px 5px 0;
	cursor: pointer;
  transition: 0.2s;
  float: left;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
	color:#fff;
}
#concerti .load-concert.selected, #concerti .load-concert:hover {
  background-color: white;
  color: #e46262;
  font-weight: bold;
  text-decoration: none; 
}
#concerti .load-concert::after {
  display:block;
  content:attr(data-year);
  font-weight:bold;
  height:1px;
  color:transparent;
  overflow:hidden;
  visibility:hidden;
  margin-bottom:-1px;
}

#concerti .load-concert-button {
	width: 60px;
}

#concerti .dropdown-container {
	position: relative;
  display: inline-block;	
}


#concerti .dropdown {
	position: absolute;
  top: 100%;
  background-color: #fff;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #fff;
  width: calc(100% - 5px);
  min-width: initial;
}
#concerti .dropdown-menu__item {
	color: #e46262;	
	padding: 2px 5px;
	cursor: pointer;
  text-align: center;
}
#concerti .dropdown-menu__item:hover {
	color: #fff;	
	background-color: #e46262;
}
#concerti .dropdown-menu__item.selected {
	color: #fff;	
	background-color: #e46262;
}

/* Section: MEDIA */
#media {
  padding: 0;
  height: 100%;
  background-color: #000;
}
#media .column {
  margin: 0;
  left: 30px;
  bottom: 30px;
  padding: 15px;
}
#media #video {
	height: 100%;
	width: 100%;
}

#media .carousel-control {
  background: none;
}

.carousel-fullscreen, 
.carousel-fullscreen .carousel-inner,
.carousel-fullscreen .item {
	height: 100%;
}
.carousel-fullscreen .item {
	height: 100%;
}
.carousel-fullscreen .item:after {
	content: "";
  background-image: url(../img/play-icon.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
	cursor: pointer;
}
.carousel-fullscreen .carousel-control {
	width: 6%;
	transition-duration: 0.5s; 
}
.carousel-fullscreen .carousel-background {
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-fullscreen .carousel-control.hide  {
	display: block !important;
	opacity: 0;
}

.carousel-fullscreen .carousel-caption {
	font-size: 24px;
  text-shadow: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#modalVideo {
	padding: 0 !important;
	overflow: hidden;



  margin: auto;

}

#modalVideo .modal-dialog {
  margin: auto;
  height: 80vh;
  width: 141.6vh;
  max-height: 45vw;
  max-width: 80vw;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

#modalVideo .modal-body {
	padding: 0;
  background-color: #000;
}
#modalVideo .modal-footer {
  border: none;
  background-color: #000;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Section: BIOGRAFIA */
#biografia {
	color: #e75757;
	background-color: #cdcdcd;
	background:url("../img/bkg-biografia.jpg") no-repeat center center;
	background-size: cover;
}

/* Section: DISCOGRAFIA */
#discografia a {
  transition: background-color 0.4s;
	border: none;
	background-color: #e75757;
}

#discografia a:hover   { background-color: #BB4444; }
#discografia a:active  {
  background-color: #BB4444;
}

#discografia {
	padding: 30px;
	background-color: #cdcdcd;
	background:url("../img/bkg-finisterre.jpg") no-repeat center center;
	background-size: cover;
  min-height: initial;
}
#discografia .discografia-container {
	margin-right: -15px;
	overflow:hidden;
}
.discografia-disc {
  width: 16.66666667%;
  float: left;
  padding: 15px 15px 0 0;
}
.discografia-disc img {
	width: 100%;
}
#discografia .disc-caption {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;	
}

#discografia h4 {
	margin-top: 0;
  min-height: 2.5em;
}

.store-badge-center {
	width: 100%;
	margin-top: 30px;
}
.store-badge-container {
	margin: 0 auto;
	white-space: nowrap;
	width: 50%;
	max-width: 580px;
	font-size: 0;
	letter-spacing: -1px;
}
.store-badge {
	width:24%;
	margin-right: 1%;
	max-width: 140px;
	border-radius: 4px;
}



/* Section: LT CANTA DE ANDRÈ */
#deandre {
	color: #e75757;
	background-color: #000;
	/*background:url("../img/bkg-deandre.jpg") no-repeat center center;
	background-size: cover;*/
	/*min-height: initial;*/
}

.caption-place {
  font-size: 16px;
  display: block;
}

#deandre .column {
	z-index: 10;
}

#deandre .carousel-fullscreen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#deandre .carousel-fullscreen .carousel-caption {
  padding: 15px;
  bottom: 70px;
}

#deandre .carousel-control {
  background: none;
}

/* Section: CONTATTI */
#contatti {
	box-sizing: content-box;
	padding-bottom: 20px;
	color: #e75757;
	background-color: #cdcdcd;
	background:url("../img/bkg-contatti.jpg") no-repeat center center;
	background-size: cover;
}

#contatti a{
	color:#fff;
	font-weight: bold;
}
a:hover{
	color:#fff;
}


/* Screen-xs */
@media screen and (max-width: 767px) {
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;		
	}

	 .carousel-control {
	  margin: 0 10px;
	}

	.logo-white {
		margin: 5px 10px;
	}

	.navbar {
		height: auto;
	}
	.navbar-nav>li>a {
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
	}
	.column {
    margin: 0;
    padding: 15px;
	}
	.discografia-disc {
		width: 100%;
	}
	#discografia h4 {
    margin-top: 0;
    min-height: auto;
	}

	.store-badge-container {
		width: 90%;
  	white-space: normal;
	}
	.store-badge {
		width: 49%;
		margin-bottom: 3px;
	}

	#finisterre, #discografia {
		background: #cdcdcd;
	}
	#concerti {
    padding: 0;
    min-height: initial;
	}
	#concerti li {
  	font-size: 14px;
	}
	#concerti .city {
  	margin-left: 50px;
	}

	.carousel-fullscreen .carousel-caption {
		font-size: 18px;
	}
	#media .column, #deandre .carousel .column {
    bottom: 60px;
    right: 30px;
  }

  .carousel-fullscreen .item:first-child {
  	background-position: initial;	
  }

  #deandre {
	  padding: 0;
  }

	#deandre .carousel-fullscreen .item:after {
  	background-position: center center;
	}

	#deandre .carousel-caption {
		display: block;
	}

	#deandre .container-carousel {
		position: relative;
		padding-bottom: 150%;
	}

  #contatti {
    background-position: center right;
  }
  #contatti .column {
    padding: 15px;
    bottom: 80px;
    position: absolute;
    right: 0;
    left: 0;
  }

	#buonenuove {
		background-image: url(../img/buonenuove-v.jpg) !important;
	}

	#buonenuove:after {
		background-size: 50px;
	}

	.social-button-container {
		width: 200px;
	}
	.social-fb {
		padding-top: 2px !important;
	}
}  
/* Screen-sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.discografia-disc {
		width: 33.33333333333333%;
	}

	.store-badge-container {
		width: 70%;
	}

	#deandre .carousel-control.left {
		left: 45%;
	}
	#deandre .carousel-indicators {
		left: 88%;
  	width: 30%;
	}
	#deandre .carousel-fullscreen .item:after {
	  background-position: 76% center;
	}
	#deandre .carousel-fullscreen .carousel-caption {
		left:49%;
	}
}
/* Screen-md */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.logo-white {
		margin-right: 10px;
	}

	#discografia h4 {
		min-height: 3.5em;
    font-size: 18px;
	}

	#deandre .carousel-control.left {
		left: 36%;
	}
	#deandre .carousel-indicators {
		left: 83%;
  	width: 30%;
	}
	#deandre .carousel-fullscreen .item:after {
	  background-position: 70% center;
	}
	#deandre .carousel-fullscreen .carousel-caption {
		left:50%;
	}
}
/* Screen-lg */
@media screen and (min-width: 1200px) {
	.social-button-container {
		position: fixed;
		z-index: 9999;
		bottom: 7px;
	}	

	.logo-white {
	  margin-right: 15px;
	}

	#concerti h1 {
		display: inline-block;
	}

	#deandre .carousel-control.left {
		left: 36%;
	}
	#deandre .carousel-indicators {
		left: 83%;
  	width: 30%;
	}
	#deandre .carousel-fullscreen .item:after {
	  background-position: 70% center;
	}
	#deandre .carousel-fullscreen .carousel-caption {
		left:50%;
	}
}